.dropdown {
  padding: 20px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  inset: 0px;
  background: #0006;
  display: grid;
  place-items: center;
  color: aliceblue;
  transition: 0.2s ease-in-out;

  p {
    padding: 15px 30px;
    margin: 0;
    color: var(--text-gray);
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 13px;
    kerning: 2.4px;
    line-height: 24px;
  }
}

.dropdown-card {
  background-color: var(--bg-gray);
  padding: 20px 0;
  border-radius: 6px;
  max-width: 400px;
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.724) 0px 3px 8px;
  .close-dropdown-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    color: white;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
}
